@use "./colors" as colors;

img {
    display: block;
    max-width: 100%;
}

a,
button {
    font-family: inherit;
    color: colors.$brand-black;
    cursor: pointer;
}

a {
    text-decoration: none;
}

ul li,
ol li {
    list-style: none;
}