$brand-blue: #000099;
$primary-black: #000026;
$brand-dark-blue: #00004D;
$brand-sea-green: #40AFCE;
$brand-dark-green: #00506B;
$primary-grey: #717171;
$brand-orange: #EE6352;
$brand-black: #00080B;
$brand-sea-green-light: #E0FBFC;
$brand-warm-grey: #FCFDF7;