@use "./typography" as typo;
@use "./colors" as colors;
@use "./variables" as var;


.brand-container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
    width: 100%;

    @media (min-width: 576px) {
        max-width: 540px;
    }

    @media (min-width: 768px) {
        max-width: 74rem;
        padding: 0 1.2rem
    }

    @media (min-width: 992px) {
        max-width: 96rem;
    }

    @media (min-width: 1200px) {
        max-width: 116rem;
    }
}

.brand-shadow-1 {
    box-shadow: var.$primary-box-shadow;
}

.brand-drop-shadow-1 {
    filter: drop-shadow(0px 4px 16px rgba(0, 0, 0, 0.25));
}


.d-flex {
    display: flex;
}

.al-items {
    align-items: center;
}

.js-content {
    justify-content: space-between;
}

.js-between {
    justify-content: space-between;
}

.js-evenly {
    justify-content: space-evenly;
}

// .logo-size {
//     width: 100px;
//     height: 70px;
// }


.p-fixed {
    position: fixed;
}

.bt-0 {
    bottom: 0;
}

.lft-0 {
    left: 0;
}

.rgt-0 {
    right: 0;
}

//typography helpers
.big-heading-1 {
    font-size: typo.$fz-heading-1;
    font-family: "librefranklin-extrabold", sans-serif;
    color: colors.$brand-blue;
    font-weight: 900;
    letter-spacing: 1.5%;
    line-height: 7.8rem;
}

.big-heading-2 {
    font-size: typo.$fz-heading-2;
    font-weight: 800;
    color: colors.$brand-blue;
    letter-spacing: 6%;
}

.big-heading-3 {
    font-size: typo.$fz-heading-3;
    letter-spacing: 1.5%;
    color: colors.$brand-blue;
    line-height: 3;
}

.big-heading-4 {
    font-size: typo.$fz-heading-4;
    color: colors.$brand-blue;
    letter-spacing: 1.5%;
    font-weight: 550;
}

.heading-support-text {
    font-size: typo.$fz-xxl-2;
    line-height: 4.8rem;
    font-weight: 300;
}

.margin-top-64 {
    margin-top: 6.4rem;
}

.largest-padding {
    padding: 9.6rem 0 6.4rem;
}



.line-height-xl {
    line-height: 4.8rem;
}

.text-center {
    text-align: center;
}

.text-bold-xl {
    font-size: typo.$fz-xl;
    font-weight: 600;
    color: colors.$brand-dark-blue;
}

.center-nested-child {
    display: flex;
    align-items: center;
    justify-content: center;
}