.homepage-intro__banner {

    min-height: 100%;
    display: flex;


    // @media(max-width: 76.8rem) {
    //     height: 80vh;
    // }

    background-image: url(../../../../assets/svgs/hero-image.svg);
    object-fit: fill;
    background-repeat: no-repeat;
    // border: 1px solid red;
}

// .homepage-bg-image {
//     position: absolute;
//     top: 0;
//     left: 0;
//     right: 0;
//     display: flex;
//     flex-direction: column;
//     z-index: -1;
//     height: 100%;

//     &>img {
//         height: 100%;
//         object-fit: cover;
//     }
// }

.homepage-intro__writeup {
    padding: 26rem 10rem 30rem;
}

.homepage-learnmore-button {
    margin-top: 4.8rem;
}