.homepage-intro__banner {
    height: 80vh;
    display: flex;
    align-items: center;
}

.homepage-bg-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    z-index: -1;
    height: 80%;
    object-fit: cover;

}

.homepage-intro__writeup {
    padding-left: 10rem;
    font-weight: 300;
    width: 100%;
}

.homepage-learnmore-button {
    margin-top: 4.8rem;
}

@media only screen and (max-width:768px) {
    .homepage-intro__writeup{
        // padding-top: 20rem;
        padding-left: 4rem;
    }
}

@media only screen and (max-width:576px) {
    .homepage-intro__writeup{
        padding-top: 20rem;
        padding-left: 2rem;
    }
}