@use "styles/mixins" as mixins;

.case-studies-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    @include mixins.pullEdges;
}

.case-studies-writeup {
    display: flex;
    justify-content: center;
}

.case-studies-content {
    padding-top: 5rem;
    padding-bottom: 12rem;

}

.case-studies--heading {
    margin-top: 3rem;
    margin-bottom: 6rem;
}

.case-studies__content-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}