@use "styles/typography" as typo;
@use "styles/colors" as colors;

.input-block {
    display: flex;
    align-items: center;
    background-color: colors.$brand-white;
    border: 1px solid lighten(colors.$primary-grey, 40);
    flex: 65.3rem;
    max-width: 65.3rem;
    padding: .5rem 1rem;
    border-radius: .5em;
    transition: outline .3s ease-in;

    &:focus-within {
        outline: 3px solid colors.$brand-blue;
        border: 1px solid transparent;
    }

    &:hover {
        outline: 3px solid colors.$primary-grey;
        border: 1px solid transparent;
    }

    &>input {
        font-family: inherit;
        font-size: typo.$fz-lg;
        padding: .5rem 1rem;
        width: 100%;
        border: 1px solid transparent;
        font-weight: 300;
        outline: 0;


        &::placeholder {
            color: colors.$primary-grey;
            font-weight: 200;
        }
    }

}