@use "styles/typography" as typo;


.homepage-article__upper-content{
    display: flex;
    align-items: center;

    @media(max-width: 768px){
        flex-direction: column-reverse;
        flex-wrap: wrap;
    }
}

.services-listing {
    display: flex;
    align-items: center;
    

    &>* {
        flex: 50%;
        max-width: 50%;
    }

    @media(max-width:768px) {
        flex-wrap: wrap;
    }
}

.services-list-item>figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    &>img {
        max-width: 9.6rem;
        min-width: 8rem;
        height: 8.193rem;

        @media(max-width: 992px) {
            max-width: 6rem;
            min-width: 4rem;
            height: 6rem;
        }
    }

    &>span {
        margin-top: 3rem;
        text-transform: capitalize;

        @media(max-width: 992px) {
            font-size: typo.$fz-md;
        }
    }
}