@use "styles/colors" as colors;

.aboutpage-team__section {
    padding: 6.4rem 9.6rem 0 9.6rem;
    h3 {
        font-size: 32px;
        line-height: 40px;
        letter-spacing: 1.5%;
        margin-bottom: 24px;
        color: colors.$brand-blue;
    }
    h5 {
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 1.5%;
        margin-bottom: 16px;
        color: colors.$brand-dark-blue;
    }

    @media (max-width:1024px) {
        padding: 1rem;
    }
}

.d-flex {
    flex-flow: wrap;
    margin-top: 16px;
    margin-bottom: 64px;
    figure {
        width: 90%;
        margin: 0 auto;
        img {
            width: 100%;
            object-fit: cover;
        }
        figcaption {
            background-color: colors.$brand-sea-green-light;
            padding: 16px;
            h5 {
                margin-top: 0;
                margin-bottom: 4px;
            }
            div {
                margin-top: 20px;
                display: flex;
                gap: 24px;
                align-items: center;
            }
        }
        @media (min-width: 768px) {
            width: 250px;
            margin: 0;
        }
    }
}
