@use "styles/colors" as colors;
@use "styles/variables" as var;
@use "styles/typography" as typo;

.brand-button {
    display: flex;
    flex-direction: column;
}

.primary-button {
    outline: none;
    border: 1px solid transparent;
    background-color: colors.$brand-orange;
    color: colors.$brand-white;
    max-width: max-content;
    font-size: 1.6rem;
    border-radius: 0.8rem;
    box-shadow: var.$primary-box-shadow;
    letter-spacing: 0.015em;
    font-weight: 450;
    transition: background-color .15s ease-in;
    padding: 1.6rem 4.5rem;
    text-transform: capitalize;

    &:hover {
        background-color: darken(colors.$brand-orange, 10);
    }
}

.primary-button--large {
    max-width: 24rem;
    font-size: typo.$fz-xl;
    font-weight: 600;

}