@use "styles/colors" as colors;
@use "styles/variables" as var;


.valorise-header {
    // position: fixed;
    // left: 0;
    // right: 0;
    // top: 0;
    background-color: transparent;
    // z-index: 999;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.4rem 9.6rem;

    // &.header-nav--scrolled {
    //     background-color: colors.$brand-white;
    //     box-shadow: var.$primary-box-shadow;
    //     transition: background-color .35s ease-in;
    // }

    @media(max-width: 1024px) {
        padding: 2rem 4rem;
    }
}

.header-right__nav {
    display: flex;
    align-items: center;

    &>* {
        margin-left: 3.27rem;
    }

    @media (max-width: 1000px) {
        display: none;
    }
}

.goto-home__link>img {
    @media(max-width:1024px) {
        max-width: 10rem;
    }
}

.drop-down__select {
    display: flex;
    align-items: center;
    cursor: pointer;

    &>span:last-child {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 1.6rem;
    }
}