@use "styles/typography" as typo;
@use "styles/colors" as colors;

.subscribe-banner {
    background-image: url(../../../../assets/images/subscribe-bg-image.png);
}

.subscribe-banner--transparent {
    background-image: none;
}

.subscribe-banner__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 1rem;
}

.subscribe-consent {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: typo.$fz-md;
    margin-bottom: 2rem;
    font-weight: 350;
    line-height: calc(typo.$fz-md * 2);
}

.subscribe-form-agreement {
    font-size: typo.$fz-xxs;
    font-weight: 350;
}

.subscribe-form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 1rem;

    &__input-block {
        display: flex;
        align-items: center;
        background-color: colors.$brand-white;
        border: 1px solid colors.$brand-black;
        flex: 65.3rem;
        max-width: 65.3rem;
        padding: .5rem 1rem;
        border-radius: .5em;

        &>input {
            font-family: inherit;
            font-size: typo.$fz-lg;
            padding: .5rem 1rem;
            width: 100%;
            border: 1px solid transparent;
            font-weight: 300;
            outline: 0;

            &:focus {
                outline: none;
            }

            &::placeholder {
                color: colors.$primary-grey;
                font-weight: 200;
            }
        }
    }


}

.subscribe-form-button {
    margin-left: 2rem;
}